<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">GuestBook Read Page</h1>
        <form id="actionForm">
            <div class="form-group">
                <label>번호</label>
                <input type="text" class="form-control" name="id" th:value="${notice.id}" readonly>
            </div>
            <div class="form-group">
                <label>제목</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${notice.title}">
            </div>
            <div class="form-group">
                <label>내용</label>
                <textarea class="form-control" rows="5" id="content" name="content">[[${notice.content}]]</textarea>
            </div>
            <div class="form-group">
                <label>작성자</label>
                <input type="text" class="form-control" id="username" name="username" th:value="${notice.username}" readonly>
            </div>
        </form>
        <button type="button" class="btn btn-primary" id="modBtn">수정</button>
        <button type="button" class="btn btn-danger" id="delBtn">삭제</button>
        <a th:href="@{/notice}">
            <button type="button" class="btn btn-info">목록</button>
        </a>
        <script th:inline="javascript">

            const csrfToken = $("meta[name='_csrf']").attr('content');
            const csrfHeader = $("meta[name='_csrf_header']").attr('content');

            const actionForm = $("#actionForm");

            const noticeId = $("input[name='id']").val();

            //이벤트 처리
            function addButtonEvent() {
                $("#modBtn").on("click", function (e) {
                   e.preventDefault();
                   modifyNotice();
                });

                $("#delBtn").on("click", function (e) {
                   e.preventDefault();
                   deleteNotice();
                });
            }

            //게시글 수정
            function modifyNotice() {
                const formData = new FormData(actionForm[0]);

                if (validateInputCheck(formData)) {

                    const data = {
                        id : formData.get('id'),
                        title : formData.get('title'),
                        content : formData.get('content'),
                        username : formData.get('username')
                    }

                    $.ajax({
                       url: '/notice',
                       method: 'PUT',
                       data: JSON.stringify(data),
                       contentType: 'application/json',
                       beforeSend: function (xhr) {
                           xhr.setRequestHeader(csrfHeader, csrfToken)
                       },
                       success: function (response) {
                           if (response.success) {
                               alert(response.message);
                               window.location.href = `/notice/${noticeId}`;
                           }
                       },
                       error: function (xhr, status, error) {
                           let response;

                           try {
                               response = JSON.parse(xhr.responseText);
                           } catch (e) {
                               alert("응답 데이터 처리 중 오류가 발생하였습니다");
                               return e;
                           }

                           let errorMessage = response.message;

                           if (xhr.status === 400) {
                               let errors = response.items;
                               if (errors['title']) {
                                   alert(errors['title']);
                                   return false;
                               } else if (errors['content']) {
                                   alert(errors['content']);
                                   return false;
                               } else if (errors['username']) {
                                   alert(errors['username']);
                                   window.location.href = '/login';
                                   return false;
                               } else if (errors['id']) {
                                   alert(errors['id']);
                                   window.location.href = '/notice';
                                   return false;
                               }
                           } else if (xhr.status === 500) {
                               alert(errorMessage);
                               return false;
                           }
                       }
                    });
                }
            }

            //게시글 삭제
            function deleteNotice() {
                if (confirm("게시글을 삭제하시겠습니까?")) {
                    $.ajax({
                        url: `/notice/${noticeId}`,
                        method: 'DELETE',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader(csrfHeader, csrfToken)
                        },
                        success: function (response) {
                            if (response.success) {
                                alert(response.message);
                                window.location.href = '/notice';
                            }
                        },
                        error: function (xhr, status, error) {
                            let response;

                            try {
                                response = JSON.parse(xhr.responseText);
                            } catch (e) {
                                alert("응답 데이터 처리 중 오류가 발생하였습니다");
                                return e;
                            }

                            let errorMessage = response.message;
                            if (xhr.status === 404) {
                                alert(errorMessage);
                                window.location.href = '/notice';
                                return false;
                            } else if (xhr.status === 500) {
                                alert(errorMessage);
                                return false;
                            }
                        }
                    })
                }
            }

            //INPUT 유효성 검사
            function validateInputCheck(formData) {
                for (const [key, value] of formData.entries()) {
                    let trimmedValue = value.trim();
                    if (value !== trimmedValue) {
                        formData.set(key, trimmedValue);
                    }

                    if (key === 'title' && trimmedValue === '') {
                        alert("게시글의 제목을 입력하세요");
                        $("#title").focus();
                        return false;
                    }

                    if (key === 'content' && trimmedValue === '') {
                        alert("게시글의 내용을 입력하세요");
                        $("#content").focus();
                        return false;
                    }

                    if (key === 'username' && trimmedValue === '') {
                        alert("로그인 후 이용 가능합니다");
                        window.location.href = '/login';
                        return false;
                    }
                }
                return true;
            }

            //init
            $(function () {
                addButtonEvent();
            })
        </script>
    </th:block>
</th:block>