<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">GuestBook Read Page</h1>
        <div class="form-group">
            <label>번호</label>
            <input type="text" class="form-control" name="id" th:value="${notice.id}" readonly>
        </div>
        <div class="form-group">
            <label>제목</label>
            <input type="text" class="form-control" name="title" th:value="${notice.title}" readonly>
        </div>
        <div class="form-group">
            <label>내용</label>
            <textarea class="form-control" rows="5" name="content" readonly>[[${notice.content}]]</textarea>
        </div>
        <div class="form-group">
            <label>작성자</label>
            <input type="text" class="form-control" name="username" th:value="${notice.username}" readonly>
        </div>
        <div class="form-group">
            <label>등록일</label>
            <input type="text" class="form-control" name="createdAt" th:value="${#temporals.format(notice.createdAt, 'YYYY-mm-dd HH:mm:ss')}" readonly>
        </div>
        <div class="form-group">
            <label>수정일</label>
            <input type="text" class="form-control" name="updatedAt" th:value="${#temporals.format(notice.updatedAt, 'YYYY-mm-dd HH:mm:ss')}" readonly>
        </div>

        <a th:href="@{/notice/modify/{id}(id=${notice.id}, pageNum=${cri.pageNum})}" th:if="${currentUser} == ${notice.username}">
            <button type="button" class="btn btn-primary">수정</button>
        </a>
        <a th:href="@{/notice(pageNum=${cri.pageNum})}">
            <button type="button" class="btn btn-info">목록</button>
        </a>

        <!--댓글 리스트 및 페이징-->
        <div class="card shadow mb-4 mt-4 ">
            <ul class="list-group replyList"></ul>
            <ul class="pagination mt-5 justify-content-center align-items-center">
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
            <div>
                <button type="button" class="btn btn-primary mb-3 ml-2">댓글 등록</button>
            </div>
        </div>

        <!--댓글 등록 모달창-->
        <div class="modal" id="replyAddModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Reply Text</span>
                            </div>
                            <input type="text" name="content" class="form-control">
                        </div>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Replyer</span>
                            </div>
                            <input type="text" name="writer" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" id="replyModifyBtn">Modify</button>
                        <button type="button" class="btn btn-danger" id="replyDeleteBtn">Delete</button>
                        <button type="button" class="btn btn-primary" id="replyRegisterBtn">Register</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">

            const noticeId = $("input[name='id']").val();

            const replyUL = $(".replyList");

            //댓글 리스트 조회
            function loadReply() {
                $.ajax({
                    url: `/reply/${noticeId}`,
                    method: 'GET',
                    success: function (response) {
                        renderReply(response.data)
                    },
                    error: function (xhr, status, error) {
                        let response;
                        try {
                            response = JSON.parse(xhr.responseText);
                        } catch (e) {
                            alert("응답 데이터 처리 중 오류가 발생하였습니다");
                            return e;
                        }

                        let errorMessage = response.message;
                        if (xhr.status === 500) {
                            alert(errorMessage);
                        }
                    }
                });
            }

            //댓글 렌더링
            function renderReply(data) {
                let str = '';
                $.each(data, function (key, value) {
                    str += `<li class="list-group-item d-flex justify-content-between align-items-center">${value.content}<span class="badge badge-primary badge-pill">${value.username}</span></li>`;
                });
                replyUL.html(str);
            }


            $(function () {
                loadReply();
            })
        </script>
    </th:block>
</th:block>