<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1>GuestBook List Page</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">등록일</th>
        <th scope="col">조회수</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="notice : ${noticeList}">
        <td th:text="${notice.id}"></td>
        <td th:text="${notice.title}"></td>
        <td th:text="${notice.username}"></td>
        <td th:text="${#temporals.format(notice.createdAt, 'YYYY-mm-dd HH:mm:ss')}"></td>
        <td th:text="${notice.viewCount}"></td>
      </tr>
      </tbody>
    </table>

    <ul class="pagination h-100 justify-content-center align-items-center">
      <li class="page-item">
        <a class="page-link" href="#" tabindex="-1">Prev</a>
      </li>

      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>

      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>

    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Clost">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

    <script th:inline="javascript">

    </script>
  </th:block>
</th:block>