<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1>GuestBook List Page</h1>
    [[${page}]]
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">등록일</th>
        <th scope="col">조회수</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="notice : ${noticeList}">
        <td th:text="${notice.id}"></td>
        <td>
          <a th:text="${notice.title}" th:href="@{/notice/{id}(id=${notice.id}, pageNum=${cri.pageNum})}"></a>
        </td>
        <td th:text="${notice.username}"></td>
        <td th:text="${#temporals.format(notice.createdAt, 'YYYY-mm-dd HH:mm:ss')}"></td>
        <td th:text="${notice.viewCount}"></td>
      </tr>
      </tbody>
    </table>
    <!--<a type="button" class="btn btn-primary" th:href="@{/notice/regPage}">게시글 등록</a>-->
    <a type="button" class="btn btn-primary" th:href="@{/notice/regPage}" id="regMoveBtn">게시글 등록</a>

    <ul class="pagination h-100 justify-content-center align-items-center">
      <li class="page-item" th:if="${page.prev}">
        <a class="page-link" th:href="${page.startPage - 1}" tabindex="-1">Prev</a>
      </li>

      <li th:class="${num == page.cri.pageNum ? 'page-item active' : 'page-item'}" th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}">
        <a class="page-link" th:href="${num}">[[${num}]]</a>
      </li>

      <li class="page-item" th:if="${page.next}">
        <a class="page-link" th:href="${page.endPage + 1}">Next</a>
      </li>
    </ul>

    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Clost">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      const pageUL = $(".pagination");

      //클릭 이벤트
      function addButtonEvent() {
        pageUL.on("click", "a", function (e) {
          e.preventDefault();
          let pageNum = $(this).attr('href');
          window.location.href = `/notice?pageNum=${pageNum}`;
        });

        $("#regMoveBtn").on("click", function (e) {
          e.preventDefault();
          const urlParams = new URLSearchParams(window.location.search);
          const pageNum = urlParams.get('pageNum') || 1;
          window.location.href = `/notice/regPage?pageNum=${pageNum}`;
        });
      }

      //init
      $(function () {
        addButtonEvent();
      });
    </script>
  </th:block>
</th:block>