<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">GuestBook Read Page</h1>
        <div class="form-group">
            <label>번호</label>
            <input type="text" class="form-control" name="id" th:value="${notice.id}" readonly>
        </div>
        <div class="form-group">
            <label>제목</label>
            <input type="text" class="form-control" name="title" th:value="${notice.title}" readonly>
        </div>
        <div class="form-group">
            <label>내용</label>
            <textarea class="form-control" rows="5" name="content" readonly>[[${notice.content}]]</textarea>
        </div>
        <div class="form-group">
            <label>작성자</label>
            <input type="text" class="form-control" name="username" th:value="${notice.username}" readonly>
        </div>
        <div class="form-group">
            <label>등록일</label>
            <input type="text" class="form-control" name="createdAt" th:value="${#temporals.format(notice.createdAt, 'YYYY-mm-dd HH:mm:ss')}" readonly>
        </div>
        <div class="form-group">
            <label>수정일</label>
            <input type="text" class="form-control" name="updatedAt" th:value="${#temporals.format(notice.updatedAt, 'YYYY-mm-dd HH:mm:ss')}" readonly>
        </div>

        <a th:href="@{/notice/modify/{id}(id=${notice.id}, pageNum=${cri.pageNum}, types=${cri.types}, keyword=${cri.keyword})}" th:if="${currentUser} == ${notice.username}">
            <button type="button" class="btn btn-primary">수정</button>
        </a>
        <a th:href="@{/notice(pageNum=${cri.pageNum}, types=${cri.types}, keyword=${cri.keyword})}">
            <button type="button" class="btn btn-info">목록</button>
        </a>

        <!--댓글 리스트 및 페이징-->
        <div class="card shadow mb-4 mt-4 ">
            <ul class="list-group replyList"></ul>
            <ul class="pagination mt-5 justify-content-center align-items-center"></ul>
            <div>
                <button type="button" class="btn btn-primary mb-3 ml-2" id="replyRegBtn">댓글 등록</button>
            </div>
        </div>

        <!--댓글 등록 모달창-->
        <div class="modal" id="replyAddModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="replyId"/>
                        <input type="hidden" name="accountId" th:value="${accountId}"/>
                        <input type="hidden" name="currentUser" th:value="${currentUser}"/>
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">내용</span>
                            </div>
                            <input type="text" id="replyContent" name="replyContent" class="form-control">
                        </div>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">작성자</span>
                            </div>
                            <input type="text" name="replyUsername" class="form-control" th:value="${currentUser}" readonly>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="replyRegisterBtn">등록</button>
                        <button type="button" class="btn btn-warning" id="replyModifyBtn">수정</button>
                        <button type="button" class="btn btn-danger" id="replyDeleteBtn">삭제</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">

            const csrfToken = $("meta[name='_csrf']").attr('content');
            const csrfHeader = $("meta[name='_csrf_header']").attr('content');

            const noticeId = $("input[name='id']").val();

            const replyUL = $(".replyList");
            const pageNationUL = $(".pagination");

            const commentRegModal = new bootstrap.Modal(document.getElementById('replyAddModal'));

            let currentPageNum = 0;

            //이벤트 처리
            function addButtonEvent() {
                replyUL.on("click", "li", function (e) {
                   e.preventDefault();
                   let replyId = $(this).data('id');
                   loadReplyDetail(replyId);
                });

                $("#replyAddModal").on("hidden.bs.modal", function (e) {
                    e.preventDefault();

                    $("input[name='replyContent']").val('');
                    $("input[name='replyUsername']").val('');
                });

                $("#replyRegBtn").on("click", function (e) {
                   e.preventDefault();
                    commentRegModal.show();
                });

                $("#replyRegisterBtn").on("click", function (e) {
                   e.preventDefault();
                   addReply();
                });

                $("#replyModifyBtn").on("click", function (e) {
                   e.preventDefault();
                   updateReply();
                });

                $("#replyDeleteBtn").on("click", function (e) {
                   e.preventDefault();
                   deleteReply();
                });

                pageNationUL.on("click", "a", function (e) {
                   e.preventDefault();
                   const pageNum = $(this).attr('href');
                   currentPageNum = pageNum;
                   loadReply(pageNum);
                });
            }

            //댓글 리스트 조회
            function loadReply(pageNumParam) {
                const pageNum = pageNumParam || 1;

                $.ajax({
                    url: `/reply/${noticeId}?pageNum=${pageNum}`,
                    method: 'GET',
                    success: function (response) {
                        if (response.success) {
                            renderReply(response.items);
                        }
                    },
                    error: function (xhr, status, error) {
                        let response;
                        try {
                            response = JSON.parse(xhr.responseText);
                        } catch (e) {
                            alert("응답 데이터 처리 중 오류가 발생하였습니다");
                            return e;
                        }

                        let errorMessage = response.message;
                        if (xhr.status === 500) {
                            alert(errorMessage);
                        }
                    }
                });
            }

            //댓글 렌더링
            function renderReply(data) {
                let str = '';
                $.each(data.replyList, function (key, value) {
                    str += `<li class="list-group-item d-flex justify-content-between align-items-center" data-id="${value.id}">${value.content}<span class="badge badge-primary badge-pill">${value.username}</span></li>`;
                });
                replyUL.html(str);

                //페이징
                const page = data.page;
                const startPage = page.startPage;
                const endPage = page.endPage;
                const prev = page.prev;
                const next = page.next;
                const pageNum = page.cri.pageNum;

                let pageStr = '';

                if (prev) {
                    pageStr = `<li class="page-item"><a class="page-link" href="${startPage - 1}" tabindex="-1">Prev</a></li>`
                }

                for (let i = startPage; i <= endPage; i++) {
                    pageStr += `<li class="page-item ${i === pageNum ? 'active':''}"><a class="page-link" href="${i}">${i}</a></li>`;
                }

                if (next) {
                    pageStr += `<li class="page-item"><a class="page-link" href="${endPage + 1}">Next</a></li>`
                }
                pageNationUL.html(pageStr);
            }

            //댓글 상세조회
            function loadReplyDetail(replyId) {
                $.ajax({
                    url: `/reply/read/${replyId}`,
                    method: 'GET',
                    success: function (response) {
                        if (response.success) {
                            const data = response.data;
                            $("input[name='replyId']").val(data.id);
                            $("input[name='replyContent']").val(data.content);
                            $("input[name='replyUsername']").val(data.username);

                            const currentUser = $("input[name='currentUser']").val();

                            if (currentUser === data.username) {
                                $("#replyModifyBtn").show();
                                $("#replyDeleteBtn").show();
                            }

                            commentRegModal.show();
                        }
                    },
                    error: function (xhr, status, error) {
                        let response;

                        try {
                            response = JSON.parse(xhr.responseText);
                        } catch (e) {
                            alert("응답 데이터 처리 중 오류가 발생하였습니다");
                        }

                        let errorMessage = response.message;
                        if (xhr.status === 500) {
                            alert(errorMessage);
                        }
                    }
                })
            }

            //댓글 등록
            function addReply() {
                let contentValue = $("input[name='replyContent']").val().trim();
                let usernameValue = $("input[name='replyUsername']").val().trim();
                let accountIdValue = $("input[name='accountId']").val();

                if (validateInputCheck(contentValue, usernameValue)) {
                    const data = {
                        noticeId : noticeId,
                        accountId : accountIdValue,
                        content : contentValue,
                        username : usernameValue
                    }

                    $.ajax({
                        url: '/reply',
                        method: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader(csrfHeader, csrfToken)
                        },
                        success: function (response) {
                            if (response.success) {
                                alert(response.message);
                                commentRegModal.hide();
                                loadReply(currentPageNum);
                            }
                        },
                        error: function (xhr, status, error) {
                            let response;

                            try {
                                response = JSON.parse(xhr.responseText);
                            } catch (e) {
                                alert("응답 데이터 처리 중 오류가 발생하였습니다");
                                return e;
                            }

                            let errorMessage = response.message;
                            if (xhr.status === 400) {
                                let errors = response.items;
                                if (errors['noticeId']) {
                                    alert(errors['noticeId']);
                                    return false;
                                } else if (errors['accountId']) {
                                    alert(errors['accountId']);
                                    window.location.href = '/login';
                                    return false;
                                } else if (errors['content']) {
                                    alert(errors['content']);
                                    return false;
                                } else if (errors['username']) {
                                    alert(errors['username']);
                                    window.location.href = '/login';
                                    return false;
                                }
                            } else if (xhr.status === 500) {
                                alert(errorMessage);
                            }
                        }
                    });
                }
            }

            //댓글 수정
            function updateReply() {
                let replyId = $("input[name='replyId']").val();
                let contentValue = $("input[name='replyContent']").val().trim();
                let usernameValue = $("input[name='replyUsername']").val().trim();

                if (validateInputCheck(contentValue, usernameValue)) {
                    const data = {
                        id : replyId,
                        content : contentValue,
                        username : usernameValue
                    }

                    $.ajax({
                       url: '/reply',
                       method: 'PUT',
                       data: JSON.stringify(data),
                       contentType: 'application/json',
                       beforeSend: function (xhr) {
                           xhr.setRequestHeader(csrfHeader, csrfToken)
                       },
                       success: function (response) {
                           if (response.success) {
                               alert(response.message);
                               commentRegModal.hide();
                               loadReply(currentPageNum);
                           }
                       },
                       error: function (xhr, status, error) {
                           let response;

                           try {
                               response = JSON.parse(xhr.responseText);
                           } catch (e) {
                               alert("응답 데이터 처리 중 오류가 발생하였습니다");
                               return e;
                           }

                           let errorMessage = response.message;
                           if (xhr.status === 400) {
                               let errors = response.items;
                               if (errors['id']) {
                                   alert(errors['id']);
                                   return false;
                               } else if (errors['content']) {
                                   alert(errors['content']);
                                   return false;
                               } else if (errors['username']) {
                                   alert(errors['username']);
                                   window.location.href = '/login';
                                   return false;
                               }
                           } else if (xhr.status === 500) {
                               alert(errorMessage);
                           }
                       }
                    });
                }
            }

            //댓글 삭제
            function deleteReply() {
                if (confirm("댓글을 삭제하시겠습니까?")) {
                    let replyId = $("input[name='replyId']").val();

                    $.ajax({
                        url: `/reply/${replyId}`,
                        method: 'DELETE',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader(csrfHeader, csrfToken)
                        },
                        success: function (response) {
                            if (response.success) {
                                alert(response.message);
                                commentRegModal.hide();
                                loadReply(currentPageNum);
                            }
                        },
                        error: function (xhr, status, error) {
                            let response;

                            try {
                                response = JSON.parse(xhr.responseText);
                            } catch (e) {
                                alert("응답 데이터 처리 중 오류가 발생하였습니다");
                                return e;
                            }

                            let errorMessage = response.message;
                            if (xhr.status === 404) {
                                alert(errorMessage);
                                return false;
                            } else if (xhr.status === 500) {
                                alert(errorMessage);
                                return false;
                            }
                        }
                    })
                }
            }

            //INPUT 유효성 검사
            function validateInputCheck(contentValue, usernameValue) {
                if (contentValue === '') {
                    alert("댓글 내용을 입력하세요");
                    $("#replyContent").focus();
                    return false;
                }

                if (usernameValue === '') {
                    alert("로그인 후 이용 가능합니다.");
                    window.location.href = '/login';
                    return false;
                }
                return true;
            }

            //init
            $(function () {
                //버튼 초기 상태 hide
                $("#replyModifyBtn").hide();
                $("#replyDeleteBtn").hide();

                loadReply();
                addButtonEvent();
            })
        </script>
    </th:block>
</th:block>