<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springsecuritydemo.mapper.admin.UserManagementMapper">
    <select id="getUsers" resultType="account">
        SELECT
            id,
            username,
            password,
            age,
            roles
        FROM account
    </select>

    <select id="getUser" resultType="account">
        SELECT
            id,
            username,
            password,
            age,
            roles
        FROM account
        WHERE id = #{id}
    </select>

    <update id="updateUser">
        UPDATE account SET
            username = #{username},
            password = #{password},
            age = #{age},
            roles = #{roles}
        WHERE id = #{id}
    </update>

    <select id="getPassword" resultType="String">
        SELECT password
        FROM account
        WHERE id = #{id}
    </select>
</mapper>