<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">GuestBook Read Page</h1>

        <div class="form-group">
            <label>gno</label>
            <input type="text" class="form-control" name="gno" readonly>
        </div>
        <div class="form-group">
            <label>title</label>
            <input type="text" class="form-control" name="title" readonly>
        </div>
        <div class="form-group">
            <label>content</label>
            <textarea class="form-control" rows="5" name="content" readonly></textarea>
        </div>
        <div class="form-group">
            <label>writer</label>
            <input type="text" class="form-control" name="writer" readonly>
        </div>
        <div class="form-group">
            <label>regDate</label>
            <input type="text" class="form-control" name="regDate" readonly>
        </div>
        <div class="form-group">
            <label>modDate</label>
            <input type="text" class="form-control" name="modDate" readonly>
        </div>

        <a href="#">
            <button type="button" class="btn btn-primary">Modify</button>
        </a>
        <a href="#">
            <button type="button" class="btn btn-info">List</button>
        </a>

        <!--댓글 리스트 및 페이징-->
        <div class="card shadow mb-4 mt-4 ">
            <ul class="list-group commentList">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Cras justo odio
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
            </ul>
            <ul class="pagination mt-5 justify-content-center align-items-center">
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
            <div>
                <button type="button" class="btn btn-primary mb-3 ml-2">댓글 등록</button>
            </div>
        </div>

        <!--댓글 등록 모달창-->
        <div class="modal" id="replyAddModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Reply Text</span>
                            </div>
                            <input type="text" name="content" class="form-control">
                        </div>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Replyer</span>
                            </div>
                            <input type="text" name="writer" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" id="replyModifyBtn">Modify</button>
                        <button type="button" class="btn btn-danger" id="replyDeleteBtn">Delete</button>
                        <button type="button" class="btn btn-primary" id="replyRegisterBtn">Register</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>