<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springsecuritydemo.mapper.admin.RoleMapper">
    <select id="getRoles" resultType="role">
        SELECT
            id,
            role_name as roleName
        FROM role
    </select>

    <select id="getRole" resultType="role">
        SELECT
            id,
            role_name as roleName
        FROM role
        WHERE id = #{id}
    </select>
</mapper>